.footer-bg {
  background-color: var(--cor-12);
}

.footer {
  color: var(--cor-5);
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 40px;
}

.contato{
  position: relative;
}

.contato h2,
.informacoes h2 {
  margin-bottom: 32px;
}

.contato li,
.informacoes li {
  margin-bottom: 16px;
}

.contato ul {
  margin-bottom: 32px;
}

.redes {
  display: flex;
  gap: 32px;
}

.redes img {
  width: 32px;
  height: 32px;
}

.contato-item li:nth-child(even):after{
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background-color: var(--cor-11);
  margin-top: 16px;
}

.direitos{
  grid-column: 1/-1;
}

.footer a:hover{
  color:var(--cor-0)
}

@media (max-width:800px){
  .footer > img{
    display: none;
  }

  .footer{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:800px){
  .footer{
    grid-template-columns: 1fr;
  }
}

